/* your code */
/* your code */
body{
	font-family: Arial, sans-serif;
	padding:40px;
	background-color: #f9f9f9;
}

table{
	border-collapse: collapse;
	width: 90%;
	max-width:900px;
	margin: auto;
	border-radius: 15px;
	overflow:hidden;
	box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

thead{
	background-color: #1f5c8f;
	color: white;
	font-weight: bold;
}

th,td{
	padding:16px;
	text-align:center;
}

tbody tr:nth-child(even){
	background-color: #e0e0e0;
}

tbody tr:nth-child(odd){
	background-color#ffffff;
}

td{
	color:#333;
	font-size: 16px;
}

th{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}

tbody tr:last-child{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}